{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {{ form_row(form.email,
        {
            'attr':
            {
                'placeholder':'E-mail Admin',
                'class':'form-control',
                'required':'true',
                'data-validation-required-message':'Por favor introduce una e-Mail',
                'type':'email'
            },
            'label': 'E-mail'
        })
    }}
    {{ form_row(form.pass,
        {
            'attr':
            {
                'placeholder':'Contraseña Admin',
                'class':'form-control',
                'required':'true',
                'data-validation-required-message':'Por favor introduce una Contraseña',
                'type':'text'
            },
            'label': 'Contraseña'
        })
    }}

    <br>
    <button class="btn btn-success btn-block"><i class="fa fa-check "></i> {{ button_label|default('Save') }}</button>
    <br>
{{ form_end(form) }}