{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {{ form_row(form.idAlmacen,
        {
            'attr':
            {
                'class':'form-control',
                'required':'true'
            },
            'label': 'Almacen'
        })
    }}
    {{ form_row(form.idProducto,
        {
            'attr':
            {
                'class':'form-control',
                'required':'true'
            },
            'label': 'Producto'
        })
    }}
    {{ form_row(form.existencia,
        {
            'attr':
            {
                'class':'form-control',
                'required':'true',
                'min':'0'
            },
            'label': 'Existencia'
        })
    }}

    <br>
    <button class="btn btn-success btn-block"><i class="fa fa-check "></i> {{ button_label|default('Save') }}</button>
    <br>
{{ form_end(form) }}