{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}

{% block body %}
    <h1>Inventario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventario.id }}</td>
            </tr>
            <tr>
                <th>Existencia</th>
                <td>{{ inventario.existencia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inventario_index') }}">back to list</a>

    <a href="{{ path('inventario_edit', {'id': inventario.id}) }}">edit</a>

    {{ include('inventario/_delete_form.html.twig') }}
{% endblock %}